<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boss Burger</title>
    <%- include("./partials/link-css.ejs") %>
</head>
<body>
    <div class="main">
        <%- include("./partials/navbar.ejs") %>
        <%- include("./partials/home.ejs") %>
        <%- include("./partials/products.ejs") %>
        <%- include("./partials/contacts.ejs") %>
        <div class="about-section"></div>
        <%- include("./partials/footer.ejs") %>
    </div>

    <script src="static/js/index.js"></script>
</body>
</html>